{% extends "base.html" %}

{% load i18n %}
{% load tz %}

{% block title %}ETL File Error List{% endblock %}


{% block content %}
<div class="row-fluid etl">
  <h3 class="mt-4">{% trans "Data File Review" %}</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Component</th>
        <th>Uploader</th>
        <th>Date Uploaded</th>
        <th>File Name</th>
        <th>Status</th>
        <th>Result File</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="{% url 'etl:collection-detail' etlfile.dcp_collection.code %}">{{ etlfile.dcp_collection.name }}</a>
        </td>
        <td>
          {{ etlfile.uploader.email }}
        </td>
        <td>
          {{ etlfile.date_created|timezone:"Asia/Manila" }}
        </td>
        <td>
          {{ etlfile.get_filename }}
        </td>
        <td>
          {{ etlfile.get_status_display }}
        </td>
        <td>
          {% if etlfile.result_file %}
            <a href="{{ etlfile.result_file.url }}">Download</a>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row-fluid etl">
  <h3 class="mt-4">Errors Found for "{{ error_list.0.sheet }}" Sheet </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Row Number</th>
        <th>Column</th>
        <th>Error</th>
      </tr>
    </thead>
    <tbody>
    {% for error in error_list %}
      <tr>
        <td>
          {{ error.row }}
        </td>
        <td>
          {{ error.column }}
        </td>
        <td>
          {{ error.error }}
        </td>
      </tr>
      {% empty %}
        <tr>
          <td>NO DATA AVAILABLE</td>
          <td></td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}