{% load i18n %}
{% load crispy_forms_tags %}

<form enctype="multipart/form-data" method="post"
action="{% url 'etl:etl-upload' %}">
  {% csrf_token %}
  <hr>
  <div class="form-group">
    {{ form.file|as_crispy_field }}
    {% if form.file.errors %}
      <p class="text-error">
        {{ form.file.errors|striptags }}
      </p>
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.dcp_collection|as_crispy_field }}
    {% if form.project.errors %}
      <p class="text-error">
        {{ form.project.errors|striptags }}
      </p>
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary btn-block">{% trans "Upload" %} &raquo;</button>
</form>