{% extends "base.html" %}

{% load i18n %}
{% load tz %}

{% block title %}ETL Task List{% endblock %}


{% block content %}
<div class="row-fluid etl">
  <h3 class="mt-4">{% trans "Data File Review" %}</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Component</th>
        <th>Uploader</th>
        <th>Date Uploaded</th>
        <th>File Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ etlfile.dcp_collection.name }}
        </td>
        <td>
          {{ etlfile.uploader.username }}
        </td>
        <td>
          {{ etlfile.date_created|timezone:"Asia/Manila" }}
        </td>
        <td>
          {{ etlfile.get_filename }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row-fluid etl">
  <h3 class="mt-4">Extracted Data from "{{ page_obj.0.sheet_name }}" Sheet </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Row Number</th>
        <th>Extracted Data</th>
        <th>Missing Data</th>
      </tr>
    </thead>
    <tbody>
    {% for row in page_obj %}
      <tr>
        <td>
          {{ row.number }}
        </td>
        <td>
          {{ row.data }}
        </td>
        <td>
          {{ row.warnings }}
        </td>
      </tr>
      {% empty %}
        <tr>
          <td>NO DATA AVAILABLE</td>
          <td></td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo;</a>
      <a href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}