{% extends "base.html" %}

{% load i18n %}
{% load tz %}
{% load crispy_forms_tags %}

{% block title %}Manage Workbooks{% endblock %}


{% block content %}
<div class="row">
  <div class="col-10">
    <h3 class="mt-4">{% trans "Workbooks Uploaded" %}</h3>
  </div>
  <div class="col-2">
    <span class="mt-4"><a href="">upload a new workbook</a></span>
  </div>
</div>
<div class="row-fluid etl">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Uploader</th>
        <th>Component</th>
        <th>Workbook ID</th>
        <th>Date Uploaded</th>
        <th>File</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for wb in page_obj %}
      <tr>
        <td>
          {{ wb.uploader.username }}
        </td>
        <td>
          {{ wb.configuration }}
        </td>
        <td>
          {{ wb.code }}
        </td>
        <td>
          {{ wb.date_created|timezone:"Asia/Manila" }}
        </td>
        <td>
          <a href="{{ wb.file.url }}">{{ wb.get_filename }}</a>
        </td>
        <td>
          {{ wb.get_status_display }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo;</a>
      <a href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}